*{
color:white;  
}
body{
   background: rgb(46,38,184);
background: linear-gradient(90deg, rgba(46,38,184,1) 0%, rgba(29,29,187,1) 44%, rgba(0,212,255,1) 100%); 
}
.card{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		max-width: 300px;
		margin: auto;
		text-align: center;
		font-family: Arial;
	}
	.title{
		color: white;
		font-size: 18px;
	}
	button{
		border: none;
		display: inline-block;
		padding: 8px;
		color: white;
		background-color: #000;
		text-align: center;
		width: 100%;
		font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius:12px;
	}
button:hover{
     background: rgb(46,38,184);
background: linear-gradient(90deg, rgba(46,38,184,1) 0%, rgba(29,29,187,1) 44%, rgba(0,212,255,1) 100%); 
  transform: scale(1.1);
}
.card{
  backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      min-height: 250px;
      width: 450px;
      border-radius: 1rem;
      background: rgb(255, 255, 255, 0.3);
      padding: 1.5rem;
      color: #fff;
}
.splash{
  cursor : pointer;
  position : fixed;
  top : 50%;
  left : 50%;
  height : 95%;
  width : 95%;
  transform : translate(-50%,-50%);    
  background-color: rgba(0,0,0);
  transition : all ease-in-out 600ms;
}
.hidden{
  transition : 0.5s;
  display : none;
}
.splash-header {
  height : 90%;
  color : white;
  font-family : consolas;
  font-size : 30px;
  display : flex;
  justify-content: center;
  align-items : center;
}